 <%- include('../partials/head') %>

<body>

 <%- include('../partials/navBar') %>

  <main style="margin-top: 113px;">
    <h2>Categorias de productos</h2>
  </main>

 <%- include('../partials/footer') %>