 <%- include('./partials/head') %>

<body>

 <%- include('./partials/navBar') %>

<main style="margin-top: 113px;">
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-8 bg-white p-4 rounded shadow">
        <h3 class="text-center mb-4" style="color: #001F3F;">¿Quiénes somos?</h3>
        <p class="text-secondary fs-5">
          En <strong>TuSuperAC</strong> somos una empresa minorista dedicada al rubro <strong>retail</strong>, comprometida con brindar a nuestros clientes una experiencia de compra ágil, segura y al mejor precio. Nos especializamos en ofrecer productos de supermercado de alta calidad, priorizando la comodidad y la cercanía a través de nuestra plataforma online.
        </p>
        <p class="text-secondary fs-5">
          Nuestro objetivo es facilitar el acceso a productos esenciales del día a día, con un servicio eficiente, atención personalizada y un catálogo pensado para todas las familias paraguayas. Trabajamos con pasión para que hacer tus compras desde casa sea rápido, confiable y económico.
        </p>
        <p class="text-secondary fs-5">
          ¡Gracias por elegirnos como tu supermercado online de confianza!
        </p>
      </div>
    </div>
  </div>
</main>


 <%- include('./partials/footer') %>